
<% layout('boilerplate') -%>

<script src="/js/ju/ju.min.js"></script>
<link rel="stylesheet" href="/js/ju/ju.min.css">


<% if (user && user.user) { %>
<script>
    var u = '<%= user.user.id %>';
    var user_name = '<%= user.user.name %>';
</script>
<% }  %>

<div class="row mt-5">
    <div class="col-sm-12 col-md-3 col-lg-2">
        <% if (user && user.user) { %>
            <span class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Создать игру</span>
        <% } else { %>
            <a href="/login" class="btn btn-primary" >Создать игру</a>
        <% } %>
    </div>
    <div class="col-sm-12 col-md-9 col-lg-10">
        <div id="games"></div>
    </div>

</div>
<% if (user && user.user) { %>
    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Создание игры</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <label for="amount">Контроль времени : </label>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">

                            <div id="slider-range-max"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 mt-3">
                            <label for="time_inc">Добавление секунд на ход : </label>
                            <input type="text" id="time_inc" readonly style="border:0; color:#f6931f; font-weight:bold;">

                            <div id="slider-range-max-time_inc"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="create_game">Создать</button>
                </div>
            </div>
        </div>
    </div>
<% } %>
<script>
    $(function () {
        $("#slider-range-max").slider({
            min: 0,
            max: 3,
            step: 0.1,
            value: 0.1,
            slide: function (event, ui) {
                $("#amount").val(ui.value);
            }
        });
        $("#amount").val($("#slider-range-max").slider("value"));

        $("#slider-range-max-time_inc").slider({
            min: 0,
            max: 10,
            step: 1,
            value: 0,
            slide: function (event, ui) {
                $("#time_inc").val(ui.value);
            }
        });
        $("#time_inc").val($("#slider-range-max-time_inc").slider("value"));
    });

</script>

<script>
    window.g_ws_params = {
        lobby : true
    }
</script>


<script src="/js/play.min.js"></script>


