<% layout('boilerplate') -%>


<style>
    .cover {
        height: 100%;
        opacity: 0.3;
        background: black;
        position: absolute;
        top : 0;
        /*left : 0;*/
        /*padding: 0 15px;*/
        z-index: 9999;
    }
    .cover-center  {
        position: absolute;
        top : 0;
        height: 100%;
        width: 100%;
        left : 0;
    }
    .rating-center {
        color: white;
        z-index: 99999;
    }

    .checkbox {
        font-size: 1em;
    }
    .center-card {
        width : 100%; height : 100%; position: absolute; z-index: 9999
    }
    .card {
        width: 18em;
    }

    .img-puzzle {
        width: 80px;
    }
    .score {
        /*position: absolute;*/
        z-index: 9;
        font-family: roboto mono;
        font-size: 10em;
        display: block;
        margin: auto;
        text-align: center;
        line-height: 110px;
        color: #fff;
        transition: 1s;
        opacity: 1;

        transform: rotate(360deg);
        cursor: pointer;
    }

    .over-modal {
        position: absolute;
        -webkit-transform: scale(0.1);
        -moz-transform: scale(0.1);
        -ms-transform: scale(0.1);
        transform: scale(0.1);
        top: -300px;
        opacity: 0;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }

    .over-modal.in {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transform: translate3d(0, 300px, 0);
        transform: translate3d(0, 300px, 0);
        opacity: 1;
    }
    .streak-indicator-incorrect {
        color: #b1332f;
    }
    .streak-indicator-link {
        cursor: pointer;
    }
    .streak-indicator-streak {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 1rem;
        font-weight: 600;
        height: 42px;
        -ms-flex-pack: center;
        justify-content: center;
        user-select: none;
    }
    .streak-indicator-icon {
        height: 22px;
        width: 34px;
        font-weight: 400;
        margin: -14px 0 -8px;
    }
    .icon-font-component {
        -ms-flex-align: center;
        align-items: center;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: center;
        justify-content: center;
        overflow: hidden;
    }
    .streak-indicator-icon span {
        font-size: 3.4rem;
        margin-top: -5.78px;
    }
    .icon-font-component span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        speak: none;
    }
    .icon-font-component span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        speak: none;
    }
    .icon-font-component span {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        speak: none;
    }
    .icon-font-chess {
        font-family: Chess;
    }
    .streak-indicator-component {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (32px) [auto-fill];
        grid-template-columns: repeat(auto-fill,32px);
        -ms-grid-rows: (42px) [auto-fill];
        grid-template-rows: repeat(auto-fill,42px);
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0;
        padding: 0 2px;
    }
    .sidebar-finish-streaks {
        margin-bottom: 0;
    }

    .rounded {
        width : 100%
    }

    .w-10 {
        width: 10%;
    }
    .w-15 {
        width: 15%;
    }
    .w-55 {
        width: 55%;
    }
    .w-65 {
        width: 65%;
    }
    .w-70 {
        width: 70%;
    }
    .w-100 {
        width: 100%;
    }
    .h-100 {
        height : 100%;
    }
    .table td {
        border: 0px!important;
        vertical-align: middle;
        height:100%;
    }
    .table td div {
        box-sizing: border-box;
        height:100%;
        overflow: hidden;
    }

    .table-wrapper {
        max-height: 400px;
        overflow: auto;
    }

    .correct-quick {
        position: absolute;
        top : 0em;
        right : 1em;
        z-index: 200;
        color: green;
    }

    .status-icon {
        font-size: 0.8em;

    }


    .img-circle {
        font-size: 5em;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
        display: inline-block;
        background: #e3cbaa;
    }
    .green {
        background: green!important;
    }
    .img-circle {
        border-radius: 50%;
    }


</style>

<script>
    var role_route = true;
    var task_id = 33;
    var next = false;
    var role = 'student';
    var pos = '8/8/8/8/7K/4Q3/6r1/5k2 b - - 0 1';
    var isSet = true;
    var user_name = 'aaa';
    var computer = 0;
</script>

<% if (user && user.user && user.user.name) { %>
<script>
    var username = "<%= user.user.name %>";
    var user_id = "<%= user.user.id %>";
    var country = "<%= user.user.country %>";
</script>

<% } %>
<style>
    .country>img {
        vertical-align: middle;
    }

    .flag {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
    img {
        border: 0;
    }
</style>

<link rel="stylesheet" href="/js/cg/assets/s.min.css">


<div class="row mt-3 d-flex justify-content-center" >


    <div class="col-12" id="task_header">
        <div class="row">
            <div class="col-md-6 col-sm-12" id="wrpr">

            </div>
            <div class="col-md-6 d-none d-lg-block" >

            </div>
        </div>
    </div>


    <div class="col-lg-12" style="position: relative;">

        <div id="tsk" class="row"></div>
    </div>
</div>
        <script src="/js/ci.min.js"></script>

<script src="/js/cg/dist/c.min.js?01"></script>

<script src="/js/ju/ju.min.js"></script>


<audio src="/sounds/puzzles/correct.mp3" id="scorrect" ></audio>
<audio src="/sounds/puzzles/wrong.mp3" id="swrong" ></audio>
<audio src="/sounds/puzzles/tick.mp3" id="stick" ></audio>
<audio src="/sounds/puzzles/start.mp3" id="start" ></audio>



<audio id="move_sound">
    <source src="/sounds/move.ogg" type="audio/ogg">
</audio>
<audio id="capture_sound">
    <source src="/sounds/capture.ogg" type="audio/ogg">
</audio>

<script src="/js/hc.js"></script>


