<% layout('boilerplate') -%>


<style>
    .cover {
        height: 100%;
        opacity: 0.3;
        background: black;
        position: absolute;
        top : 0;
        /*left : 0;*/
        /*padding: 0 15px;*/
        z-index: 9999;
    }
    .cover-center  {
        position: absolute;
        top : 0;
        height: 100%;
        width: 100%;
        left : 0;
    }
    .rating-center {
        color: white;
        z-index: 99999;
    }

    .checkbox {
        font-size: 18px;
    }



</style>

<script>
    var role_route = true;
    var task_id = 33;
    var next = false;
    var role = 'student';
    var pos = '8/8/8/8/7K/4Q3/6r1/5k2 b - - 0 1';
    var isSet = true;
    var user_name = 'aaa';
    var computer = 0;
</script>

<link rel="stylesheet" href="/js/cg/assets/s.min.css">


<div class="row mt-3 d-flex justify-content-center" >


    <div class="col-12" id="task_header">
        <div class="row">
            <div class="col-lg-6 col-md-12" id="wrpr">

            </div>
            <div class="col-lg-6 d-none d-lg-block" >

            </div>
        </div>
    </div>


    <div class="col-lg-12">
           <div id="tsk" class="row"></div>
    </div>
</div>


<script>
    var puzzle_id = '<%= puzzle_id %>';
</script>

<script src="/js/ci.min.js"></script>

<script src="/js/cg/dist/c.min.js?01"></script>

<script src="/js/ju/ju.min.js"></script>





<audio id="move_sound">
    <source src="/sounds/move.ogg" type="audio/ogg">
</audio>
<audio id="capture_sound">
    <source src="/sounds/capture.ogg" type="audio/ogg">
</audio>

<script src="/js/hc.js"></script>




<link rel="stylesheet" href="/stylesheets/animate.css">

<div class="modal animated zoomIn faster" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Report puzzle</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="mainBlock">
                    <h5>Puzzle № <%= puzzle_id %></h5>
                    <textarea class="form-control" placeholder="Reason (optional)" id="reason"></textarea>
                </div>
                <h1 class="text-center hidden" id="reported">Reported!</h1>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="send">Report</button>
            </div>
        </div>
    </div>
</div>

<script>

    var puzzle_id = '<%= puzzle_id %>';

    $("#send").on('click', function () {
        var self = $(this);
        $.ajax({
            url: '/puzzles/report/' + puzzle_id,
            method: "post",
            timeout : 3000,
            beforeSend : function () {
                self.attr('disabled', 'disabled');
            },
            data : {
                p_id : puzzle_id,
                reason : $("#reason").val(),
            }
        }).done(function (data) {
            $("#mainBlock").addClass('hidden');
            $("#reported").removeClass('hidden');
            self.addClass('hidden');

        }).fail(function ( data, jqXHR, textStatus ) {
            alert("Connection error!");
        }).always(function () {
            self.removeAttr('disabled');
        });
    });



</script>