
<% layout('boilerplate') -%>

<div class="mt-5">
    <h3 class="align-middle"><i class="fab fa-discord fa-2x" style="color : #7289DA"></i> Join our Discord channel!</h3>
    <a href="https://discord.gg/invite/HpgvQy">https://discord.gg/wgfF7Ej</a>
</div>