
<% layout('boilerplate') -%>
<style>
    .badge.badge-outlined {
        color: #2196F3;
        border: 1px solid #2196F3;
    }
</style>

<h3 class="d-flex justify-content-between mt-3 mb-3"><%- __("Tournaments") %> <a href="/tournament/create" class="btn btn-lg btn-success"><%- __("CreateTournament") %></a> </h3>
<!--<script src="/js/ws.js"></script>-->

<div class="list-group">
    <%- partial('index_iter', {
        tournaments : tournaments_system
    }) %>
</div>
    <hr>
<div class="list-group">
    <%- partial('index_iter', {
        tournaments : tournaments
    }) %>
</div>
<link rel="stylesheet" href="/stylesheets/flags.css">

<script src="/js/timer.js"></script>

<script>
    $(function () {
        $(".timer").each(function (index, element) {
            element = $(this);
            var timeleft = element.attr("data-time");
            new Timer({
                timeleft : timeleft,
                element : element
            });
        })
    });
</script>