
<% layout('boilerplate') -%>

<style>

</style>

<div class="bg-danger text-white p-2 mt-3">Новинка! <a href="/puzzle_rush" class="text-white text-underlined">Тактический штурм (Puzzle Rush)</a> - бесплатный сервис решения задач на тактику</div>

<style>
    .badge.badge-outlined {
        color: #2196F3;
        border: 1px solid #2196F3;
    }
</style>

<h3 class="d-flex justify-content-between mt-3 mb-3"><%- __("Tournaments") %> <a href="/tournament/create" class="btn btn-lg btn-success"><%- __("CreateTournament") %></a> </h3>
<!--<script src="/js/ws.js"></script>-->

<div class="list-group">
    <%- partial('index_iter', {
        tournaments : tournaments_system
    }) %>
</div>
    <hr>
<div class="list-group">
    <%- partial('index_iter', {
        tournaments : tournaments
    }) %>
</div>
<link rel="stylesheet" href="/stylesheets/flags.css">

<script src="/js/timer.js"></script>

<script>
    $(function () {
        $(".timer").each(function (index, element) {
            element = $(this);
            var timeleft = element.attr("data-time");
            new Timer({
                timeleft : timeleft,
                element : element
            });
        })
    });
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter50447359 = new Ya.Metrika({
                    id:50447359,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/50447359" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->